In [2]:
print("hello")

hello

In [3]:
y=list(range(100,105))
y

[100, 101, 102, 103, 104]

In [4]:
for i in range(6):
  print("hello python")

hello python
hello python
hello python
hello python
hello python
hello python

In [5]:
mydata=["jhanvi","koyal"]
data=["ishaan"]
mydata
data

['ishaan']

In [6]:
type(mydata)

list

In [8]:
mylist=["jhanvi",1,True]
mylist

['jhanvi', 1, True]

list is a type of array. it is a type of order sequence of elements of ordered set of elements. order starts at 0 and ends at 9. (in other programming language like R list starts from 1)
It is a storage element for mixed data types.

In [9]:
w=['a','b','c','d','e']
w

['a', 'b', 'c', 'd', 'e']

In [10]:
w[0]

'a'

In [13]:
mylist[-2]

1

In [14]:
import pandas as pd 
path="/content/sample_data/Untitled spreadsheet - Sheet1.csv"
df= pd.read_csv(path)
df.head(2)

   50  jhanvi
0  47  ishaan
1  57   koyal

In [15]:
import pandas as pd 
path="/content/sample_data/Untitled spreadsheet - Sheet1.csv"
df= pd.read_csv(path)
df

   50  jhanvi
0  47  ishaan
1  57   koyal
2  48  jatin

In [11]:
len(w)

5

In [18]:
list1=[1,2,3,4,5,6,7,8,9]
list1[2:7]

[3, 4, 5, 6, 7]

In [20]:
list1[2:6:2]

[3, 5]